<%- include("partials/header2.ejs") %>
<br><br><br><br>
<h1 class="flex-container-cn">Alcoholic Cocktails</h1><br><hr class="i5"><hr class="i5">
<br>

<% if(locals.cocktails){ %>
<div class="container">
    <div class="row f0">
        <% for(var loop=0;loop<Length;loop++){ %>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 f2">
            <a href="/getcocktail/<%= cocktails[loop].strDrink %>" class="textdecor">
            <div class="row">
                    <%  var i =  cocktails[loop].strDrinkThumb  +"/preview" %>
                    <img src=<%= i %> class="g3" alt="cocktail image">
                <div class="row"><h1 class="g4"><%= cocktails[loop].strDrink %></h1></div>
            </div>
            </a>
        </div>
        <% } %>
    </div>
</div>

<%  } else { %>
    <br><br>
    <div class="flex-container-cn">
        <p>TRY AGAIN ! </p><br><br>
    </div>

<% } %>

<br><br><br><br>


<%- include("partials/footer.ejs") %>
